<!DOCTYPE html>
<html>
<head>
    <title>Password Generator</title>
    <link rel="stylesheet" type="text/css" href="../static/styles.css">
    <b>@caretakerport</b>
</head>
<body>
    <h1>Password Generator</h1>
    <form action="/generate_password" method="post">
        <label for="length">Password Length:</label>
        <input type="number" name="length" id="length" min="1" max="50" value="12">
        <button type="submit">Generate Password</button>
    </form>
    {% if password %}
    <p>Generated Password: {{ password }}</p>
    {% endif %}
    <div class="image-container">
        <img class="image" src="{{ url_for('static', filename='caretaker.png') }}" alt="">
    </div>
</body>
<h1> SUPPORT THIS PROJECT</h1>
<p>Bank Detail </p>
<p>First Bank</p>
<p>3136346518</p>
<p>L. Eseoghene</p>
<p><b>OR Follow and Subscribe to all avialable channels</b></p>
<p><b>Twitter: @caretakerport</b></p>
<p><b>Youtude: @caretaker-port</b></p>
<p><b>TitTok: @caretaker.port</b></p>
</html>

